*.dll filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
Library/PackagesCache/**/*.dll filter=lfs diff=lfs merge=lfs -text
Library/PackagesCache/**/*.so filter=lfs diff=lfs merge=lfs -text
Library/PackagesCache/**/*.dylib filter=lfs diff=lfs merge=lfs -text
